PORT=3333
HOST=0.0.0.0
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

POSTGRES_DB=secureboard
POSTGRES_USER=secureboard
POSTGRES_PASSWORD=secureboard
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgresql://secureboard:secureboard@localhost:5432/secureboard?schema=public
REDIS_URL=redis://localhost:6379